body {
  background-color: #7ff71c;
  margin: 0px;
  padding: 0px;
  background-color: rgb(216, 211, 205);
}
h1 {
  margin: 0;
}
.cabecalho {
  background-color: #00a500;
  text-align: center;
  padding: 12px;
}
nav {
  margin-top: 10px;
}
nav > a {
  margin-left: 1em;
  text-decoration: none;
}
nav > a:hover {
  color: red;
  box-shadow: 0px 0px 10px 5px rgba(255, 0, 0, 0.541);
  transition-duration: 500ms;
}
main {
  justify-content: center;
  align-items: center;
  max-width: 1000px;
  margin: auto;
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.534);
  border-radius: 0px 0px 5px 5px;
  padding: 6px;
}
.paragrafo {
  padding: 0px 1em 0px 1em;
  font-size: 1.1em;
}

picture {
  display: flex;
  margin-top: 10px;
  justify-content: center;
  align-items: center;
  padding: 1em;
}
img {
  width: 100%;
  
}
.links {
  background-color: #00d400;
  padding: 5px;
  border-radius: 20px;
}
footer {
  background-color: #00a500;
  text-align: center;
}
#titulo {
  font-family: "Orbitron";
}
#imgBrugdroid {
  width: auto;
}

#video {
  display: flex;
  margin-top: 2em;
  margin-bottom: 3em;
  justify-content: center;
  align-items: center;
  background-color: #00af00;
  padding: 10px;
}
.subtitulo {
  margin: 0em 0em 0em 1em;
  font-family: "Orbitron";
  color: #006900;
}
.subtitulo2 {
  margin-left: 1em;
  font-family: "Orbitron";
  background-image: linear-gradient(to right, #4cf04c, transparent);
}
section {
  margin-left: 2em;
  margin-right: 2em;
  background-color: #3df83d;
  border-radius: 5px;
  box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.274);
}
section > header {
  background-color: #006900;
  border-radius: 5px 5px 0px 0px;
}
section > header > h2 {
  color: white;
  padding: 7px;
}
#juntar {
  display: flex;
  justify-content: space-around;
}
